/*=============== GOOGLE FONTS ===============*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

/*=============== VARIABLES CSS ===============*/
/* je vais indiquer toutes mes variables afin de gagner du temps lorsque je vais réutiliser les memes styles */
:root {
    /*===== Couleurs =====*/
    --hue-color:242;

    /* HSL Color Mode */
    --skin-color: hsl(0, 95%, 48%);
    --title-color: hsl(var(--hue-color), 8%, 95%);
    --text-color: hsl(var(--hue-color), 8%, 85%);
    --body-color: hsl(var(--hue-color), 19%, 5%);
    --box-color: hsl(var(--hue-color), 14%, 10%);
    --scroll-bar-color: hsl(var(--hue-color), 12%, 38%);
    --scroll-thumb-color: hsl(var(--hue-color), 12%, 26%);

    /*===== Font =====*/
    --body-font: 'Poppins', sans-serif;

    /* .5rem = 8px, 1rem = 16px, 1.5rem = 24px ... */
    --biggest-font-size: 3rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
    --smaller-font-size: .813rem;

    /*===== Font Weight =====*/
    --font-medium: 500;
    --font-bold: 600;

    /*===== Margenes Bottom =====*/
    --mb-0-25: .25rem;
    --mb-0-5: .5rem;
    --mb-0-75: .75rem;
    --mb-1: 1rem;
    --mb-1-5: 1.5rem;
    --mb-2: 2rem;
    --mb-2-5: 2.5rem;
    --mb-3: 3rem;

    /*===== Z Index =====*/
    --z-fixed: 10;
    --z-modal: 100;
}

/* Responsive Typography */
@media screen and (max-width: 1024px) {
    :root {
        --biggest-font-size: 2rem;
        --h1-font-size: 1.5rem;
        --h2-font-size: 1.25rem;
        --h3-font-size: 1.125rem;
        --normal-font-size: .938rem;
        --small-font-size: .813rem;
        --smaller-font-size: .75rem;
    }
}

/*=============== Base ===============*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body,
button,
input{
    font-family: var(--body-font);
    font-size: var(--normal-font-size);

}

body{
    background-color: var(--body-color);
    color: var(--text-color);

}

h1,h2,h3{
    color: var(--title-color);
    font-weight: var(--font-bold);
}

ul{
   list-style: none;
}

li{
    list-style: none;
}

a{
    text-decoration:none
}

img{
    max-width: 100%;
    height: auto;
}

button{
    cursor: pointer;
}

button,
input{
    border: none;
    outline: none;
}
/*=============== Calques ===============*/
.container{
    max-width: 1250px;
    margin-left: auto;
    margin-right: auto;
}

.grid{
    display: grid;

}


/*=============== Classes Css réutilisables ===============*/

.section{
    padding: 6.5rem 0 2rem;
}

.section__title{
    text-align: center;
    font-size: var(--h1-font-size);
    margin-bottom: var(--mb-3);
}

.section__title::before{
    content: attr(data-heading);
    display: block;
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
    color: var(--skin-color);
}


/*=============== Sidebar ===============*/
.sidebar{
    position: fixed;
    width: 100px;
    height: 100vh;
    background-color: var(--body-color);
    border-right: 1px solid var(--box-color);
    list-style: none;

}


.nav__logo{
    position: absolute;
    left: 0;
    right: 0;
    top: 1.8rem;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--skin-color);
    text-align: center;
    margin: auto;
    list-style: none;
}

.nav__logo-text{
    font-size: 1.125rem;
    color: var(--title-color);
    font-weight: var(--font-bold);
    line-height: 40px;
    list-style: none;
}

.nav__menu{
    position: fixed;
    transform: rotate(-90deg) translateX(-100%);
    transform-origin: left top;
    width: 100vh;
    list-style: none;
}

.menu{
    display: flex;
    list-style: none;
}

.nav__list{
    display: flex;
    flex-direction: row-reverse;
    margin: -2px auto 0 auto ;

}

.nav__link{
    height: 100%;
    float: right;
    line-height: 100px;
    padding: 0 1rem;
    color: var(--title-color);
    font-weight: var(--font-medium);
    position: relative;
    transition: .4s ;
    list-style: none;
}


/* Active Link */
.nav__link.active-link , .nav__link:hover{
    color: var(--skin-color);
}

.nav__link.active-link::after, .nav__link:hover::after{
    position: absolute;
    content: '';
    width: 6px;
    height: 6px;
    background-color: var(--skin-color);
    border-radius: 50%;
    bottom: 1.8rem;
    left: 0;
    right: 0;
    margin: auto;
}

/*=============== Main ===============*/
.main{
    margin-left: 100px;
}

/*===== Accueil =====*/

.home{
    background: url("../img/bbackground.jpg");
    background-size: cover;
    height: 100vh;
    background-position: center center;
}

.home__container{
    position: relative;
    height: 100%;
    align-items: center;
}

.home__social{
    position: absolute;
    top: 1.8rem;
    left: 0;
    display: flex;
    align-items: center;
    column-gap: 3.5rem;
}

.home__social-follow{
    font-weight: var(--font-medium);
   position: relative;
}

.home__social-follow::after{
    content: '';
    position: absolute;
    width: 1rem;
    height: 2px;
    background-color: var(--text-color);
    right: -45%;
    top: 50%;
}

.home__social-links{
    display: inline-flex;
    column-gap: 1rem;
}

.home__social-link{
    font-size: 1.08rem;
    color: var(--text-color);
    transition: .4s;
}

.home__social-link:hover{
    transform: translateY(.25rem);
}


.home__img{
    display: none;
}

.home__title{
    font-size: var(--biggest-font-size);
}

.home__subtitle{
    font-size: var(--h3-font-size);
    font-weight: var(--font-medium);
    margin-bottom: var(--mb-0-75);
}

.home__description{
    max-width: 450px;
    margin-bottom: var(--mb-2);
}

.my__info{
    display: flex;
    column-gap: 1.8rem;
    position: absolute;
    left: 0;
    bottom: 1.8rem;
}

.info__item{
    display: flex;
    align-items: center;

}

.info__title,
.info__subtitle{
    font-size: var(--small-font-size);
}

.info__title{
    font-weight: var(--font-medium);
}

.info__icon{
    font-size: 1.8rem;
    color: var(--skin-color);
    margin-left: var(--mb-0-75);
}


/*===== Boutons =====*/

.button{
    display: inline-flex;
    align-items: center;
    column-gap: .5rem;
    background-color: var(--skin-color);
    color: var(--title-color);
    padding: 0.75rem 1.4rem;
    border-radius: 1.45rem;
    font-weight: var(--font-medium);
    position: relative;
    z-index: 1;
}

.button::after{
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: var(--box-color);
    z-index: -1;
    transform-origin: center;
    transform: scale(0);
    border-radius: 1.45rem;
    transition: 0.6s;
}

.button:hover::after{
transform: scale(1);
}

.button__icon{
    font-size: 1.25rem;
}


/*===== A propos  =====*/

.about__container{
    grid-template-columns: repeat(2, 1fr);
    column-gap: 4rem;
    align-items: center;

}

.about__img{
    width: 480px;
    border-radius: 1.5rem;
    justify-self: center;
}

.about__heading{
    font-size: var(--h3-font-size);
    margin-bottom: var(--mb-0-75);
}

.about__description{
    margin-bottom: var(--mb-2);
}

.about__info{
    grid-template-columns: repeat(3, 140px);
    column-gap: .5rem;
    margin-bottom: var(--mb-3);
}

.about__box{
    text-align: center;
    border-radius: 0.25rem;
    padding: 1rem 1.25rem;
    background-color: var(--box-color);
}

.about__icon{
    font-size: 1.5rem;
    color: var(--skin-color);
    margin-bottom: var(--mb-0-75);
}

.about__title{
    font-size: var(--small-font-size);
}

.about__subtitle{
    font-size: var(--smaller-font-size);
}

/*===== Qualification  =====*/
.qualification__container{
    grid-template-columns: repeat(2, 340px);
    column-gap: 3rem;
    justify-content: center;
}

.qualification__title{
    font-size: var(--h3-font-size);
    font-weight: var(--font-medium);
    margin-bottom: var(--mb-2);
}

.timeline__item{
position: relative;
padding-left: 3rem;
margin-bottom: var(--mb-2-5);

}

.timeline__item:last-child{
    margin-bottom: 0;

}

.timeline__item::before{
    content: '';
    width: 1px;
    position: absolute;
    left: .48rem;
    top: 0;
    height: 100%;
    background-color: var(--skin-color);
}

.timeline__title{
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
    margin-bottom: var(--mb-0-25);
}

.timeline__text{
    font-size: var(--smaller-font-size);
    margin-bottom: var(--mb-1);
}

.timeline__date{
    display: flex;
    align-items: center;
    column-gap: .4rem;
    font-size: var(--small-font-size);
    color: var(--skin-color);
}


/*===== Compétences  =====*/
.skills__container{
    grid-template-columns: 360px 320px;
    column-gap: 3rem;
    justify-content: center;

}

.skills__header{
    display: flex;
    align-items: center;
    cursor: pointer;
}

.skills__header:not(:last-child){
    margin-bottom: var(--mb-2-5);
}

.skills__icon,
.skills__arrow{
    font-size: 2rem;
    color: var(--skin-color);
}

.skills__icon{
margin-right: var(--mb-0-75);

}

.skills__title{
    font-size: var(--h3-font-size);

}

.skills__subtitle{
    font-size: var(--small-font-size);

}

.skills__arrow{
    margin-left: auto;
}

.skills__list{
row-gap: 1.8rem;
}

.skills__titles{
    display: flex;
    justify-content: space-between;
    margin-bottom: var(--mb-0-5);
}

.skills__name{
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
}

.skills__bar,
.skills__percentage{
    height: 5px;
    border-radius: 0.25rem;

}

.skills__bar{
    background-color: var(--box-color);
}

.skills__percentage{
        display: block;
        background-color: var(--skin-color);
}

.skills__active .skills__arrow{
    transform: rotate(-90deg);
    transition: .3s;
}

.skills [data-content] {
    display: none;

}

.skills__active[data-content] {
    display: block;
}

/* ===== SplashScreen  ===== */

.intro{
    position: fixed;
    z-index: 1555;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: #161616;
    transition: 1s;
}

.intrologoheader{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff;
}

.logointro{
    position: relative;
    display: inline-block;
    bottom: -20px;
    opacity: 0;
}

.logointro.active{
    bottom: 0;
    opacity: 1;
    transition: ease-in-out 0.5s;

}

.logointro.fade{
    bottom: 150px;
    opacity: 0;
    transition: ease-in-out 0.5s;
}

/*===== Mes Projet  =====*/
.work__container {
    grid-template-columns: repeat(3, 330px);
    gap: 1.8rem;
    justify-content: center;
    padding-top: 1rem;
}

.work__filters {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: .75rem;
    margin-bottom: 2rem;
}

.work__item {
    cursor: pointer;
    color: var(--title-color);
    padding: .25rem .75rem;
    font-weight: var(--font-medium);
    border-radius: .5rem;
}

.work__card {
    background-color: var(--box-color);
    padding: 1.25rem;
    border-radius: .5rem;
}

.portfolio__item-details{
    display: none;
}

.work__img{
    border-radius: .5rem;
    margin-bottom: var(--mb-1);
}

.work__title {
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
    margin-bottom: var(--mb-0-5);
}

.work__button {
    color: var(--skin-color);
    font-size: var(--small-font-size);
    display: flex;
    align-items: center;
    column-gap: .25rem;
    cursor: pointer;
}

.work__button-icon {
    font-size: 1rem;
    transition: .3s;
}

.work__button:hover .work__button-icon{
    transform: translateX(.25rem);
}

/* Active Item de mes projets */
.active-work {
    background-color: var(--skin-color);
    color: var(--title-color);
}

/* Portfolio Popup */


/*===== Services Section =====*/


/* Active Modal*/


/*===== Témoignages Section =====*/


/* Swiper Class */


/*===== Contact Section =====*/


/*=============== Footer ===============*/


/*=============== Scroll up ===============*/


/* Show Scroll Up*/


/*=============== Scroll bar ===============*/


/*========== Media queries ==========*/
/*  Large  */
@media screen and (max-width: 1408px) {}

@media screen and (max-width: 1216px) {}

@media screen and (max-width: 1024px) {}
/* For Medium  */
@media screen and (max-width: 768px) {}

@media screen and (max-width: 576px) {}

/*  Small  */
@media screen and (max-width: 350px) {}
